@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application was created by Luke Reibel. He chose to make this instead of an application that tracks all your credit card purchases.</p>
