@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FoodWatch</h1>
    <p class="lead">Welcome to FoodWatch. The ONLY source for food recipes and keeping track of exercise on the internet.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Food Library</h2>
        <p>
            Login, and then click the link in the bar at the top to utilize the library of food items.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Make Recipes</h2>
        <p>This application creates a list of food items that can be added to a recipe, in order to have a comprehensive understanding of indiviual recipes.</p>
    </div>
    <div class="col-md-4">
        <h2>In One, Out the Other</h2>
        <p>Users can also create workouts, and then view their library of workouts in order to plan their fitness journies.</p>
    </div>
</div>